@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter sans-serif;
}
/* header start */

.container{
max-width: 1512px;
margin: 0 auto;
}
header{
margin: auto;   
background-image: url("../img/Gradient.png");

background-repeat: no-repeat;
}


.img img{
    margin-left:-70px;
    width: 270px;
    }
    .imges{
        margin-bottom: 300px;
    }
/*navbar  */
.content{
display:flex;
justify-content:space-between;
align-items: center;
padding: 50px 50px;
margin: auto;

}

.logo-midle ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:35px   
}
.logo-midle ul li{
    list-style: none;
    text-decoration: none;
    display: flex;
    
}
.logo-midle ul li a{
    text-decoration: none;
    color: #0D0029;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.logo-right button{
    width: 150px;
    height: 50px;
    border-radius: 28.192px;
background: #0D0029;
color: #FFF;
font-family: Inter;
font-size: 14.841px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.logo-right ul li a{
text-decoration: none;
color: #272D38;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27.5px; /* 152.778% */
text-transform: lowercase;
}
.content-text {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.content-text p{
width: 667px;
margin-top: 12px;
margin-left:95px

}
.content-text h1{
margin-left:95px

}



.header-text h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
width: 850px;
color: #0D0029;
font-family: Inter;
font-size: 70px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.block{
display: flex;
}

.btn-header{
    display: flex;
margin-top: 99px;
/* flex-direction: row-reverse; */
}


.btn-header p{
    color: #0D0029;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-right: 50px;
    gap: 10px;
}

.btn-button{
    width: 235px;
margin-left:95px;

height: 50px;
border-radius: 28.192px;
background: #0D0029;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 14.841px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.header-booton{
text-align: center;
margin-top: 200px;
}
.header-booton-img {
display: flex;
width: 915px;
justify-content: center;
margin: auto;
margin-top: 35px;
border-radius: 8px;
background: #F6F6F6;
border-radius: 8px;
gap: 50px;
}
.header-booton-img img{
background: #F6F6F6;
 /* font-size: 32px; */

}
.imgs{
display:flex; 
justify-content: space-between;
gap: 100px;
}
/* end header */

/* start web-design */
/* .web-design-content{
    display: flex;
} */
.web-design-content{
   max-width: 1316px;
   margin: auto;

}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: auto;
    padding: 100px 0;
}
.logo h1{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}
.logo i{
    color: rgba(255, 199, 0, 1);
   
}
.web-block{
  max-width: 1282px;
  display: flex;
  justify-content: center;
  /* height: 350px;
      */
margin: auto;

}
.web-content{
   
   display: grid;
   grid-template-columns: repeat(3,1fr);
   padding: 110px 50px;
   gap: 95px;
   
    /* justify-content: space-around; */
}

.web-content .h1{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.indiya-block{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
    column-gap: 80px;
}
.indiya {
  
}
.indiya h2{
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600; 
    line-height: normal;
}

.indiya p{
    color: #6F6F6F;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.indiya-p > h2{
    color: #0D0029;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.indiya-p >p{
    width: 638px;
    height: 181px;
    color: #6F6F6F;
font-family: Inter;
font-size: 20px;
font-style: normal;
margin-top: 15px;
font-weight: 500;
line-height: 36px; /* 180% */
}
/* end web-design */

/* start cilents */

.cilents{
    background: #0B304A;
  max-width: 1512px;
 /* margin-top: 150px;    */

}
.cilents-content{
}
.cilents-logo{
    display: flex;
}
.cilents-logo img{
    width:300px;
   /* margin: auto; */

}
.cilents-logo h1{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 792px;
    justify-content: center;
    margin: auto;

}


.display{
    display: flex;
    gap:110px;
    width: 1000px;
    margin: auto;
    color: #FFF;
    justify-content: center;


}

.displays{
    display: flex;
    gap: 110px;
    width: 1000px;
    margin: auto;
margin-top: 10px;
    color: #FFF;
    justify-content: center;
  padding:0 0 100px 0; 
}

.block-cilentb{
    margin: auto;
    margin-left: 60px;

}
.block-cilentr p{
    margin: auto;
    margin-left: 50px;
    color: rgba(163, 163, 163, 0.80);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.block-cilentb p{
    color: rgba(234, 112, 74, 0.80);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;


}
.block-cilents p{
    color: rgba(100, 122, 236, 0.80);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.block-cilents {
    margin: auto;
    margin-left: 50px;  
   
   
}
.block-cilentr{
    margin: auto;
    margin-left: 60px;  
   
      
}
.block-cilentt p{
    color: rgba(234, 112, 74, 0.80);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.block-cilentt {
    margin: auto;
    margin-left: 50px;  
}
/* end cilent */
/* start mac-book */

.mac-logo{
    width: 680px;
height: 300.97px;
    background: url("../img/line\ &\ Area.svg");
background-repeat: no-repeat;
background-size: cover;
position: relative;
margin:150px 50px;
}
.mac-logo button{
    position: absolute;
    top:180px;
    left: 100px;
    width: 194px;
height: 72px;
border-radius: 26px;
background: #DEDDDD;
border: none;
color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 257.143% */
}
.mac-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 70px 0;
    gap: 100px;

}
.tex-block h1{
    display: block;
    color: #0D0029;
font-family: Inter;
font-size: 45.672px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.tex-block p{
    width: 638px;
    height: 112px;
    margin: auto;
    color: #6F6F6F;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
margin-top: 12px;
line-height: 36px; /* 180% */
}
.tex-block button{
    width: 235px;
    height: 50px;
    border-radius: 28.192px;
background: #0D0029;
color: #FFF;
margin-top: 12px;
}
/* end mac */
/* start people */

.people-content{
   display: flex;
   align-items: center;
}

.people-logo{
   
    
/* display: block; */
color: #0D0029;
/* text-align: center; */
/* font-family: Inter;
font-size: 45.672px;
font-style: normal;
font-weight: 700;
line-height: normal; */
margin: auto;

}
.people-logo h1{
    color: #0D0029;
    text-align: center;
    font-family: Inter;
    font-size: 45.672px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 

}
.people-logo-left {
    margin: auto;
    padding: 15px;
}
.people-logo-left p{
    width: 548px;
height: 75px;
color: #6F6F6F;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 180% */
}
.people-logo-left h3{
    color: #000;
font-family: Inter;
font-size: 32.222px;
font-style: normal;
font-weight: 500;
line-height: 58px; /* 180% */
}
.people-logo-h{
    margin: auto;
}
.people-logo-h h1{
    color: #0D0029;
    text-align: center;
    font-family: Inter;
    font-size: 45.672px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 

}

.people-logo-right {
    /* width: 640px; */
margin: auto;
/* padding: 25px 45px; */
}
.img1{
    display: flex;
    /* margin:auto */
    gap: 55px;
    padding: 30px;
}
/* end */
/* start  */
.cilent-design{
    background: #0B304A;
}
.cilent-design-content{
    width: 1126px;
    margin-top: 100px;
    padding: 100px 0;
    margin: auto;
}
.cilent-design-logo h1{
    color: #FFF;
    width: 1125px;
    height: 122px;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.cilent-design-logo span{
    color: #FF9C41;
font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.paragrph-cilent{
    display: flex;
    margin-top: 45px;
}
.paragrph-cilent p{
    width: 805px;
    height: 85px;
    color: #E7E7E7;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 180% */
}
.paragrph-cilent button{
    width: 235px;
height: 60px;
border-radius: 28.192px;
background: #D1094A;
color: #FFF;
border: none;
}
/* start footer*/
.footer{
    background: url("../img/griden.png");
}
.footer-content{
margin:auto;    
}
.logo-footer{
    margin: auto;
    text-align: center;
}
.logo-footer h1{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.logo-footer h3{
    color: #595959;
 padding: 120px 0 20px 0;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.logo-footer p{
    width: 636px;
    margin: auto;
    color: #6F6F6F;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 180% */
}

.contens{
    margin-top: 120px;
    /* padding: 120px 0; */
}

